---
layout: navbar
--- 
 
<!-- {% include navbar.html %} -->
{% assign course = site.data[page.course] %}
{% assign units = page.units | split: ',' %}
<h1>{{page.title}}</h1>
<br>

{% assign posts = site.posts | concat:site.pages %}

{% for unit in units %}
  {% assign unitKey = "Unit" | append: unit %}
  {% assign unitData = course[unitKey] %}
  <h2>
    {{ unitKey }}: {{ unitData.title }}
  </h2>
  <p>{{ unitData.description }}</p>

  {% assign start = unitData.start %}
  {% assign end = unitData.end %}

  <table>
    <tr>
      <th>Week</th>
      <th>Plans</th>
      <th>Hacks(Todo)</th>
      <th>Tangibles</th>
    </tr>

    {% for index in (start..end) %}
      {% assign plans = null | compact %}
      {% assign hacks = null | compact %}
      {% assign tangibles = null | compact %}

      {% for post in posts %}
        {% if post.courses[page.course] %}
          {% assign week = post.courses[page.course].week | default: 0 %}
          {% assign title = post.title %}
          {% assign url = post.url %}

          {% if week == index %}
            {% if post.type == "plans" %}
              {% assign plans = plans | push: {title: title, url: url} %}
            {% elsif post.type == "hacks" %}
              {% assign hacks = hacks | push: {title: title, url: url} %}
            {% elsif post.type == "tangibles" %}
              {% assign tangibles = tangibles | push: {title: title, url: url} %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      <tr>
        <td>{{ index }}</td>
        <td>
          {% for plan in plans %}
            - <a href="{{ site.baseurl }}{{ plan.url }}">{{ plan.title }}</a><br/>
          {% endfor %}
        </td>
        <td>
          {% for hack in hacks %}
            - <a href="{{ site.baseurl }}{{ hack.url }}">{{ hack.title }}</a><br/>
          {% endfor %}
        </td>
        <td>
          {% for tangible in tangibles %}
            - <a href="{{ site.baseurl }}{{ tangible.url }}">{{ tangible.title }}</a><br/>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endfor %}
